@import url('https://fonts.googleapis.com/css2?family=Acme&family=Alumni+Sans+Inline+One&family=Bree+Serif&family=Kalam&family=Metal+Mania&family=Montserrat:wght@100&family=Mouse+Memoirs&family=Righteous&family=Rubik+Distressed&family=Rubik+Moonrocks&family=Titan+One&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-image:;
}
#heading{
    font-size:5vw ;
    border: solid 5px 0;
    border-color: rgb(0,0,0);
    background-color:rgb(169,169,169);
    font-family:'Rubik Moonrocks', cursive;
    padding-left: 7px;
    display: flex;
    height:10vw;
    border-radius: 1vw;
    padding-top: 1vw;
}

.gameContainer{
    background-color: rgb(211,211,211);
    display: flex;
    justify-content: center ;
    margin-top: 20px;
    height: 120vw;
    margin-bottom: 5px;
    border-radius: 1vw;
}

.container{
    position: relative;
    display: grid;
    grid-template-rows: repeat(3,12vw);
    grid-template-columns: repeat(3, 12vw) ;
    padding-top: 1vw;
    padding-left: 0.5vw;
    
    


}
.box{
    border: solid 1px black ;
    font-size:9vw;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik Distressed', cursive;;
    

}

.text{
    font-size: 2vw;
}
.top{
    font-size:3vw
}

.box:hover{
    background-color: aliceblue;
}

.gameinfo{
    padding:5px;
    padding-left: 10vw;
    font-family: 'Bree Serif', serif;
}

.imgbox img{
    padding: 2vw;
    height:0;
    transition: 1s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bbt-0{
    border-bottom: 0;
}

#reset{
    padding: 0.4vw;
    background-color: rgb(230,230,250);
    border: solid 1px rgb(0,0,0);
    margin-left:12vw;
    margin-bottom:1.5vw;
    border-radius: 5px;
    font-size: 2.5vw;
    font-family: 'Alumni Sans Inline One', cursive; 
}

a{
    text-decoration: none;
    
}

.info{
    padding-left: 8vw;
    font-family: 'Titan One', cursive;
    font-size: 3.5vw;
}


.info1{
    border:solid 2px rgb(0,0,0);
    border-radius: 2vw;
    width: 30vw ;
    margin-top: 5vw;
    
}


.lines{
    background-color: black;
    width: 0;
    height: 3px;
    position: absolute;
    background-color: rgb(14, 234, 14);
   transition: width 1s ease-in-out;

   
}

footer{
    background-color: rgb(95, 94, 94);
    color:aliceblue;
    border-radius: 1vw;
    padding: 2vw;
    text-align: center;

}

#foot{
    font-family: 'Righteous', cursive;
    font-size: 2.5vw;
}

.copy{
    font-family:'Montserrat', sans-serif;;
    font-size: 1vw;
}

#click{
    border: dotted 2px;
    background-color: rgb(246, 230, 6);
    border-radius: 5px;
    color: black;
    
}